@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap");

html {
  @apply overflow-x-hidden scroll-smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-jost bg-green-950 tracking-wider text-white;
}
.section {
  @apply py-20 md:py-28;
}
h1 {
  @apply text-3xl font-bold md:text-4xl xl:text-5xl;
}
h2 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}
h3 {
  @apply text-xl md:text-2xl xl:text-3xl;
}
.nav-link {
  @apply text-lg font-bold duration-300;
}
.nav-link:hover {
  @apply text-yellow-500;
}

/* Active */

.active {
  @apply bg-yellow-600 text-white;
}
.title {
  @apply font-Lobster text-yellow-500;
}
/* button  */
.btn {
  @apply rounded-md border border-e-yellow-400 bg-yellow-500 px-5 py-2 duration-300;
}
.btn span {
  @apply font-bold;
}
.btn:hover {
  @apply opacity-90;
}
.btn_outline {
  @apply bg-transparent;
}
.btn_outline:hover {
  @apply bg-yellow-500;
}
.popular_card:hover img {
  @apply -top-8;
}

.swiper-pagination-bullet {
  @apply h-3 w-3 bg-green-500;
}
